@model IEnumerable<VivacquaFinalProject.Models.Project>

<h1 class="tightoverlay">
    Projects
</h1>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="boldplumbrdr col-md-12 thistle">
            <p>
                <img src="@Html.DisplayFor(modelItem => item.ProjectImage)" height="100" width="100" />
            </p>
            <p class="tightoverlay">
                @Html.DisplayFor(modelItem => item.ProjectName)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </p>
            <p>
                <a href="@Html.DisplayFor(modelItem => item.ProjectLink)">@Html.DisplayFor(modelItem => item.ProjectLink)</a>
            </p>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
                </td>*@
        </div>
    }
</div>
